<a href="https://colab.research.google.com/github/anishak-tech/programming-foundations-data-structures-4410875/blob/main/5_Python_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='green'> <h1> <center> Python - Tuples </center> </h1> </font>

Tuple is data structure that holds collection of different objects in it. For example, a tuple can hold numerical as well as string values in it along with the other collections like list, tuples etc.

<b>Creation<b>

Empty tuple can be created with angular brackets.

In [4]:
tuple1 = ()
print(tuple1)

()

In [3]:
type(tuple1)

tuple

Tuple elements are enclosed within angular brackets.

In [2]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
my_tuple

('a', 'b', 'c', 'd', 'e')

Tuple can hold elements belonging to the different data types.

In [ ]:
my_mixed_tuple = ('a', 1, 1.1, True)
my_mixed_tuple

('a', 1, 1.1, True)

Type of tuple variable is tuple.

In [ ]:
print(type(my_tuple))
print(type(my_mixed_tuple))

<class 'tuple'>
<class 'tuple'>

Type of individual elements can be same or different which can be checked as follows.

In [ ]:
type(my_tuple[0])

str

In [ ]:
type(my_mixed_tuple[1])

int

Size of the tuple can be determined using the len() funtion

In [ ]:
len(my_tuple)

5

In [ ]:
len(my_mixed_tuple)

4

<b>Indexing<b>

Tuple elements can be accessed using the bracket operator. The index value starts from 0 and goes upto len() -1 .

In [ ]:
print("First element ---> " , my_mixed_tuple[0], "      ", "type of element ----> ", type(my_mixed_tuple[0]))
print("Second element ---> " , my_mixed_tuple[1], "      ", "type of element ----> ", type(my_mixed_tuple[1]))
print("Third element ---> " , my_mixed_tuple[2], "      ", "type of element ----> ", type(my_mixed_tuple[2]))
print("Fourth element ---> " , my_mixed_tuple[3], "      ", "type of element ----> ", type(my_mixed_tuple[3]))

First element --->  a        type of element ---->  <class 'str'>
Second element --->  1        type of element ---->  <class 'int'>
Third element --->  1.1        type of element ---->  <class 'float'>
Fourth element --->  True        type of element ---->  <class 'bool'>

-ve indexing also possible on the tuples elements.

In [ ]:
print("Last element ---> " , my_mixed_tuple[-1])
print("Second Last element ---> " , my_mixed_tuple[-2])
print("Third element from Last---> " , my_mixed_tuple[-3])
print("Fourth element from Last---> " , my_mixed_tuple[-4])

Last element --->  True
Second Last element --->  1.1
Third element from Last--->  1
Fourth element from Last--->  a

<b>Slicing<b>

The part of tuples can be accessed using the slicing.

In [ ]:
my_mixed_tuple[ 0 : 2]   # extracts first two elements of tuple

('a', 1)

In [ ]:
my_mixed_tuple[ 1 : ]   # extracts all elements of tuple starting from second element

(1, 1.1, True)

In [ ]:
my_mixed_tuple[ : 3]   # extracts first three elements of tuple

('a', 1, 1.1)

In [ ]:
my_mixed_tuple[ 0 : : 2] # extract every alternate element of tuple

('a', 1.1)

In [ ]:
my_mixed_tuple[ : : -1 ]  #access the elements of tuple in reverse manner

(True, 1.1, 1, 'a')

<b>Concatenation<b>

Two tuples can be joined using the '+' operator.

In [ ]:
tuple1 = ('1', '2', '3', '4')
tuple2 = ('5', '6')
new_tuple = tuple1 + tuple2  # concat two tuples using +
new_tuple

('1', '2', '3', '4', '5', '6')

In [ ]:
tuple1 = ('1', '2', '3', '4')
new_tuple = tuple1 + ('5', '6')  # concat two tuples using +
new_tuple

('1', '2', '3', '4', '5', '6')

<b>Repetition<b>

Tuple elements can be repeated using "*" operator.

In [ ]:
(1, 2) * 3  # create a tuple with elements '1' and '2' repeated three times

(1, 2, 1, 2, 1, 2)

In [ ]:
my_tuple = ( 'a', 'b')
new_tuple = my_tuple * 2   #create a tuple with elements 'a' and 'b' repeated two times
new_tuple

('a', 'b', 'a', 'b')

<b>Immutability<b>

Tuple elements can not be altered.

In [5]:
my_tuple = ('a', 'b', 'c', 'd', 'e')

In [6]:
my_tuple[0] = 'p'    #throws error as individual tuple elements can not be altered

TypeError: 'tuple' object does not support item assignment

New elements can not be added to the tuple using append().

In [7]:
my_tuple.append('f')   #throws error as tuple can not be altered

AttributeError: 'tuple' object has no attribute 'append'

In [8]:
my_tuple.remove(0)   # elements can not be removed from the tuple

AttributeError: 'tuple' object has no attribute 'remove'

Tuple can be assigned to another tuple variable.

In [9]:
my_tuple = ('a', 'b', 'c', 'd', 'e')
new_tuple = my_tuple

print("my_tuple---->", my_tuple)
print("new_tuple---->", new_tuple)

my_tuple----> ('a', 'b', 'c', 'd', 'e')
new_tuple----> ('a', 'b', 'c', 'd', 'e')

<b>Operations<b>

In [10]:
my_tuple = ('a', 'b', 'c', 'c', 'e')

index() can be used to get index of first instance of element value.

In [11]:
my_tuple.index('c')  #get first index of element 'c' in tuple

2

In [12]:
my_tuple.index('b')  #get first index of element 'b' in tuple

1

In [13]:
my_tuple.index('v')  #get first index of element 'v' in tuple, as value is not present throws error

ValueError: tuple.index(x): x not in tuple

count() - counts the number of instances of element value in tuple.

In [14]:
my_tuple.count('a') # count how many times 'a' appeared in tuple

1

In [ ]:
my_tuple.count('c') # count how many times 'c' appeared in tuple

2

In [ ]:
my_tuple.count('m') # count how many times 'm' appeared in tuple (which is not present as element in the tuple)

0

<b>Iterable<b>

Tuple is iterable. One can traverse through the individual tuple elements using loops.

In [ ]:
for i in range(len(my_tuple)):   #access tuple elements with for loop
    print("(", i, ") ", my_tuple[i])

( 0 )  a
( 1 )  b
( 2 )  c
( 3 )  c
( 4 )  e

<b>Sorting<b>

Tuple elements can be sorted as follows :

In [ ]:
Scores = (10, 8 , 3, 2 , 4, 0 , 0, 3)
Scores

(10, 8, 3, 2, 4, 0, 0, 3)

In [ ]:
sorted(Scores)  # sort the tuple values using the sorted

[0, 0, 2, 3, 3, 4, 8, 10]

In [ ]:
grades = ('a', 'c', 'd', 'e', 'b')
grades

('a', 'c', 'd', 'e', 'b')

In [ ]:
sorted(grades)

['a', 'b', 'c', 'd', 'e']

<b>Deletion<b>

Tuple can be removed from the memory by using del().

In [ ]:
my_tuple     # tuple elements are printed

('a', 'b', 'c', 'c', 'e')

In [ ]:
del(my_tuple)  # remove the tuple

In [ ]:
my_tuple  # throws error as tuple no more available

NameError: name 'my_tuple' is not defined

# Exercise

Q1. Accept 5 string values from user and store them as part of tuple. Print the elements of tuple with their indices.

In [ ]:
#Try it here

In [ ]:
#Try it here

Q2. Accept 5 string values from user and store them as part of tuple. Print the elements of tuple with their indices in reverse order.

# Answer

In [ ]:
#Q1 Solution

#create empty tuple
tuple = ()

#Ask user five times to enter the string and concat that string to the tuple
times = 5
for i in range(times):
    user_string = input("enter the string\n")
    tuple = tuple + (user_string, )

#Output the tuple
print("\nThe elements of tuple are : ")
for i in range(len(tuple)):
    print("(", i , ")", "   " , tuple[i])

enter the string
1
enter the string
2
enter the string
3
enter the string
4
enter the string
5

The elements of tuple are :
( 0 )     1
( 1 )     2
( 2 )     3
( 3 )     4
( 4 )     5

In [ ]:
#Q2 Solution

#create empty tuple
tuple = ()

#Ask user five times to enter the string and concat that string to the tuple
times = 5
for i in range(times):
    user_string = input("enter the string\n")
    tuple = tuple + (user_string, )

#Output the tuple
print("\nThe elements of tuple (in reverse order) are : ")
for i in range(1, len(tuple) + 1):
    j = -1 * i
    print("(", j , ")", "   " , tuple[j])

enter the string
e
enter the string
3
enter the string
2
enter the string
1
enter the string
2

The elements of tuple (in reverse order) are :
( -1 )     2
( -2 )     1
( -3 )     2
( -4 )     3
( -5 )     e