<a href="https://colab.research.google.com/github/anishak-tech/programming-foundations-data-structures-4410875/blob/main/final_Python_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color='sky blue'> <h1> <center> Python - Dictionaries </center> </h1> </font>

##  What is a Dictionary?

A **dictionary** in Python is a **data structure** that stores data in the form of **key : value** pairs.

üëâ It means:

* Each piece of data has a **name (key)**
* And the **actual data (value)**

### Example:

```python
"name" : "Anisha"
```

Here:

* `"name"` ‚Üí key
* `"Anisha"` ‚Üí value


## Why Do We Use a Dictionary?

Let‚Äôs understand this with a real example.

### ‚ùå Without Dictionary (List)

```python
marks = [80, 90, 85]
```

### ‚úÖ With Dictionary

```python
marks = {
    "Maths": 80,
    "Science": 90,
    "English": 85
}
```

Now it‚Äôs clear:

* Maths ‚Üí 80
* Science ‚Üí 90

üìå **This clarity is the main reason we use dictionaries.**

##  Where Are Dictionaries Used?

* Student records
* Employee details
* Database rows
* Configuration files
* Data analysis & machine learning

üëâ If you work with **real data**, you will use dictionaries a lot.

##  Characteristics of Dictionary

A dictionary has the following characteristics:

1. Stores data as **key : value**
2. **Keys must be unique**
3. **Keys must be immutable**
4. **Values can be mutable or immutable**
5. Dictionary is **mutable** (can be changed)
6. No index (not accessed by position)
7. Uses **hashing** ‚Üí very fast access

# Understanding Key and Value (Very Important)
## What is a KEY? üîë



A **key** is a **name or identifier** used to access data.

Think of:

* Phone contact ‚Üí Name
* Student ‚Üí Roll number
* Dictionary book ‚Üí Word



### Rules of Keys:

* Must be **unique**
* Must be **immutable** (cannot change)

### ‚úÖ Valid Keys:

```python
"name"      # string
10          # integer
(1, 2)      # tuple
```

### ‚ùå Invalid Keys:

```python
[1, 2]      # list
{1, 2}      # set
{"a": 1}    # dictionary
```

‚ùå These are mutable ‚Üí not allowed as keys.

##  What is a VALUE? üì¶


A **value** is the **actual data** stored in the dictionary.

### Rules of Values:

* Can be **any data type**
* Can be **mutable or immutable**
* Can be duplicated
* Can be changed anytime

### Examples:

```python
"Anisha"                 # string
24                       # integer
[80, 90, 85]             # list
{"city": "Bangalore"}    # dictionary
```



## 7Ô∏è‚É£ Key vs Value (Very Important)

| Feature         | Key üîë        | Value üì¶   |
| --------------- | ------------- | ---------- |
| Purpose         | Identify data | Store data |
| Unique          | Yes           | No         |
| Mutable allowed | No            | Yes        |
| Used to access  | Yes           | No         |

In [7]:
#What is 80? Maths or Science?
marks = {
    "Maths": 80,
    "Science": 90,
    "English": 85
}
#Now the data makes sense.
#That‚Äôs why dictionaries exist.

<b>Creation of Dictionaries<b>

Method 1: Using Curly Braces {}

It can be created with curly braces.

In [21]:
empty_dict = {}
empty_dict
type(empty_dict)

dict

Method 2: Using dict() Constructor

In [23]:
my_dict = dict()
type(my_dict)

dict

# KEY VS VALUE

In [ ]:
dict2 = {1:'Jan', 2:'Feb', 3:'March', 4:'April'}  # keys are numbers
dict2

{1: 'Jan', 2: 'Feb', 3: 'March', 4: 'April'}

In [ ]:
my_dict = {'Jan': 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30}

In [ ]:
dict3 = {(1, 2019) : 'Jan', (2, 2019):'Feb'}  #keys are tuples
dict3

{(1, 2019): 'Jan', (2, 2019): 'Feb'}

In [ ]:
dict5 = {'Jan':[1, 2019],'Feb':[2, 2019]}  #keys are strings and value are list
dict5

{'Jan': [1, 2019], 'Feb': [2, 2019]}

# Adding Data to an Empty Dictionary

In [40]:
student = {}        # empty dictionary
student["name"] = "aditi"
student["age"] = 20
student["mark"]= 90
student["name"]="rakesh"

student.pop("age")
student.clear()

student

{}

# Accessing Values
Direct Access

In [32]:
print(student["name"])
print(student.get("20"))

rakesh
None

# Safe Access (get)

In [30]:
print(student.get("salary"))

None

# Updating Values

In [ ]:
student["age"] = 25

# Removing Data

In [37]:
student.pop("age")
del student["name"]
student.popitem()
student.clear()

KeyError: 'age'

In [35]:
student.pop("age")

KeyError: 'age'

# Looping Through Dictionary

In [42]:
for key in student:
    print(key)

for value in student.values():
    print(value)

for key, value in student.items():
    print(key, value)

In [44]:
student= {
    "name": "virat",
    "age" :24,
    "course":"data analysis"
}
student

{'name': 'virat', 'age': 24, 'course': 'data analysis'}

In [46]:
for value in student.values():
 print(value)

virat
24
data analysis

In [54]:
for key, value in student.items():
  print (key,":",value)

name : virat
age : 24
course : data analysis

# Dictionary Methods (IMPORTANT)

| Method     | Use             |
| ---------- | --------------- |
| `keys()`   | All keys        |
| `values()` | All values      |
| `items()`  | Key-value pairs |
| `get()`    | Safe access     |
| `update()` | Add/update      |
| `clear()`  | Remove all      |

# Dictionary with Other Data Structures

In [ ]:
emp = {"skills": ["Python", "SQL"]}

# Nested Dictionary

Key can be string, numbers or tuples, basically it has to be immutable object.

# Type can be checked by type() method.

In [ ]:
type(my_dict)

dict

Number of items in dictionary can be found out by len() method.

In [59]:
len(company)

3

dict() function can also be used to create dictionary. List of tuples which actually contains the key value pairs needs to be provided as the input.

In [18]:
d = dict([("A",1), ('B',2), ('C',3)])
d

{'A': 1, 'B': 2, 'C': 3}

In [ ]:
d= {}

<b> Accessing keys and values<b>

**All keys can be accessed via keys() method.**

In [63]:
my_dict = {'Jan': 31, 'Feb':28, 'March': 31, 'Apr':30} # keys are strings
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

In [ ]:
my_dict.keys()  # get all the keys of dictionary object

dict_keys(['Jan', 'Feb', 'March', 'Apr'])

**All values can be accessed via values() method.**

In [ ]:
my_dict.values()  # get all the values of dictionary object

dict_values([31, 28, 31, 30])

**All key-value pairs can be accessed by items() method.**

In [ ]:
my_dict.items()

dict_items([('Jan', 31), ('Feb', 28), ('March', 31), ('Apr', 30)])

Individual value can be found out by using the key associated with it.

In [58]:
company = {
    "emp1": {"name": "A", "age": 24},
    "emp2": {"name": "B", "age": 25},
    "emp3": {"name":"c", "age":26}
}

company

{'emp1': {'name': 'A', 'age': 24},
 'emp2': {'name': 'B', 'age': 25},
 'emp3': {'name': 'c', 'age': 26}}

In [70]:
print(company.get('emp5'))

None

In [ ]:
my_dict['Jan']  # access number of days associated with 'Jan'

31

In [ ]:
my_dict['Apr']  # access number of days associated with 'Apr'

30

In [ ]:
my_dict['xyz']  # access number of days associated with 'xyz' , error as key is not present in the dictionary

KeyError: 'xyz'

In [ ]:
my_dict.get('xyz') # even if key is not present in the dictionary does not throw error

In [ ]:
my_dict.get('Apr') # access number of days associated with 'Apr'

30

'in' and 'not in' can be used to determine key is present in dictionary or not

In [ ]:
'Apr' in my_dict  # check whether entry with key 'Apr' is present or not

True

In [ ]:
'XYZ' in my_dict  # check whether entry with key 'XYZ' is present or not

False

<b> Looping <B>

One can iterate over the entries in Dictionaries.

In [ ]:
#Dictionary with Roman numerals
letter_dict = { 'I':1, 'V':5, 'X':10, 'L':50, 'C':100, 'D':500, "M":1000}
letter_dict

{'I': 1, 'V': 5, 'X': 10, 'L': 50, 'C': 100, 'D': 500, 'M': 1000}

In [ ]:
for key in letter_dict.keys():   # iterate over keys
    print("   " , key)

    I
    V
    X
    L
    C
    D
    M

In [ ]:
for value in letter_dict.values(): # iterate over values
    print("   " , value)

    1
    5
    10
    50
    100
    500
    1000

In [ ]:
for key in letter_dict.keys():  #access keys and values
    print(key , "   " , letter_dict[key])

I     1
V     5
X     10
L     50
C     100
D     500
M     1000

<b> Operations on dictionary<b>

Entry (i.e. key value pair) can be added to dictionary in following manner :

In [ ]:
my_dict['May'] = 31
my_dict

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 31}

Key values can be modified using the assignment operator.

In [ ]:
my_dict['May'] # current number of days associated with May is 31

31

In [ ]:
my_dict['May'] = 25 # change it to 25
my_dict['May']

25

Entry can be removed from dictionary by using the del().

In [ ]:
my_dict  # Key 'May' present in dictionary

{'Jan': 31, 'Feb': 28, 'March': 31, 'Apr': 30, 'May': 25}

In [ ]:
del(my_dict['May'])   #key 'May' is removed from the dictionary
my_dict

KeyError: 'May'

<b>Dictionary with complex object as values<b>

The value can be a complex object like list itself.

In [ ]:
#Cretae a employee database with emp id as key and list of employees where each value in list has property of an employee
emp_data = { 1:['1','Emp A', 34] , 2:['2','Emp B', 35], 3:['3','Emp C', 36]}

print(emp_data)

{1: ['1', 'Emp A', 34], 2: ['2', 'Emp B', 35], 3: ['3', 'Emp C', 36]}

Add new employee in the database

In [ ]:
new_emp = ['4', 'Emp D', 45]  #create employee
emp_data[4] = new_emp  # add employee to the dictionary
emp_data

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B', 35],
 3: ['3', 'Emp C', 36],
 4: ['4', 'Emp D', 45]}

In [ ]:
emp_data[4][1]

'Emp D'

In [ ]:
emp_data[2][2]

35

In [ ]:
emp_data[3][0]

'3'

Existing employee details can be modified.

In [ ]:
emp_data # look at current employees

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B modified', 67],
 3: ['3', 'Emp C', 36],
 4: ['4', 'Emp D', 45]}

In [ ]:
emp_data[2] = ['2', 'Emp B modified', 67]  # alter the second employee

In [ ]:
emp_data # look at modified employees

{1: ['1', 'Emp A', 34],
 2: ['2', 'Emp B modified', 67],
 3: ['3', 'Emp C', 36],
 4: ['4', 'Emp D', 45]}

Individual employee details can also be accessed.

In [ ]:
emp_data[2][0]  # access id of second employee

'2'

In [ ]:
emp_data[2][1]  # name of second employee

'Emp B modified'

In [ ]:
emp_data[2][2]  # access age of second employee

67

# Exercise

Q1. Write a program that asks user to enter the 5 product names and prices. Store all of these in a dictionary with keys are product names and prices are values. Then allow the user to input the product name and print the corresponding price of the product.

In [ ]:
#Try it here
#Q1 Solution

#Number of times asks the user to input the information
count = 5

#empty dictionary
products = {}

#Ask the user for product names and corresponding price, then add it to the dictionary
for i in range(count):
    product_name = input("Enter the product name\n")
    price = eval(input("Enter the product price\n"))
    products[product_name] = price


print("\n")
product_name = input("Enter the product name\n")
print("The corresponding price is ", products[product_name])

Q2. Create a dictionary where keys are name of months and days are values. <br>
    (a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.<br>
    (b) Print out all the keys in alphabetical order.<br>

In [ ]:
#Try it here

Q3. Ask user 5 times to enter a team name and how many times the team won and how many they lost. Store the information in a dictionary where the keys are team names and values are lists of form [wins, lossess]. <br>
    (a) Using this dictionary, allow the user to enter a team name and print out the teams winning percentage.<br>
    (b) Using this dictionary, create a list whose entries are the number of wins of each team.<br>

In [ ]:
#Try it here

# Answer

In [ ]:
#Q1 Solution

#Number of times asks the user to input the information
count = 5

#empty dictionary
products = {}

#Ask the user for product names and corresponding price, then add it to the dictionary
for i in range(count):
    product_name = input("Enter the product name\n")
    price = eval(input("Enter the product price\n"))
    products[product_name] = price


print("\n")
product_name = input("Enter the product name\n")
print("The corresponding price is ", products[product_name])

In [ ]:
#Q2 Solution
months = {'January':31, 'February':28, 'March':31, 'April':30, "May":31, 'June':30, 'July':31, "August":31, 'September':30,
          'October':31, 'November':30, 'December':31}

#(a) Ask the user to input a month name and use the dictionary to tell how many days are in that month.
month_name = input("Enter the month\n")
print(month_name, " has ", months[month_name], " days.")

#(b) Print out all the keys in alphabetical order.
print("\nThe keys in alphabetical order : \n")
for key in sorted(months.keys()):
    print(key)

Enter the month
April
April  has  30  days.

The keys in alphabetical order :

April
August
December
February
January
July
June
March
May
November
October
September

In [ ]:
#Q3 Solution

#Number of times asks the user to input the information
count = 2

#empty dictionary
teams = {}

#Ask the user for team names and corresponding wins & losses, then add it to the dictionary
for i in range(count):
    team_name = input("Enter the team name\n")
    wins = int(input("Enter the wins\n"))
    losses = int(input("Enter the losses\n"))
    teams[team_name] = [wins, losses]


print("\n")
team_name = input("Enter the team name\n")
print("The winning percentage is ", teams[team_name][0] / (teams[team_name][0] + teams[team_name][1]))

print("\n")
winning_list = []
for value in teams.values():
    winning_list.append(value[0])

print('The winning list is ', winning_list)

## Dictionary vs Other Data Structures

| Feature   | Dictionary | List   | Tuple  | Set        |
| --------- | ---------- | ------ | ------ | ---------- |
| Stores    | Key-Value  | Values | Values | Values     |
| Access    | Key        | Index  | Index  | Membership |
| Mutable   | Yes        | Yes    | No     | Yes        |
| Duplicate | Keys ‚ùå     | Yes    | Yes    | No         |

In [ ]:
student["key"]
student.get("key")

In [72]:
d1 ={"a":1}
d2=d1
d3=d1.copy()
d3

{'a': 1}